ul {
  list-style-type: none;
}
ul li {
  display: inline;
}
ul li img {
  width: 200px;
}
ul li input[type=radio] {
  display: none;
}
ul li input[type=radio]:checked + img.hidden {
  visibility: visible;
}
img.hidden {
  visibility: hidden;
  position: absolute;
  width: 50%;
  top: 200px;
  left: 48px;
}
